<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>
<body>

    <h1> <%= theDay %></h1>

    <ul>
        <li>first</li>
        <li>second</li>
        <li>third</li>
        <!-- <li><%= itm %></li> -->

       <% for(var i=0;i<itm.length;i++){ %>
            <li><%=itm[i]%></li>
        <%}%>
    </ul>

  

    <form action="/" method="post">
        <input type="text" name="item">
        <button type="submit">Add</button>
    </form>
    
</body>
</html>